html {
    font-size: 62.5%;
}

body {
    @include font-size($fzBase);
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $fontColor;
}

.alpha {
    font-size: em($fzHeading);
    text-align: center;
    margin: em(60,$fzHeading) 0;
}