html {
    font-size: 62.5%;
}

body {
    @include font-size($fzBase);
    box-sizing: border-box;
    font-family: $primaryFont;
    color: $fontColor;
}

main {
    padding-top: em(200);
}

.alpha {
    font-size: em($fzHeading);
    text-align: center;
}