
// font sizes

$fzBase: 22;
$fzHeading: 70;

// fonts

$primaryFont: 'Source Sans Pro', Arial, sans-serif;


// colors

$color1: #8BDFF7;
$color2: #FDFDFF;
$color3: #8C9195;
$color4: #EAF7CF;
$color5: #815E5B;


// color variables

$fontColor: $color2;

// homepage

