html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

Quotes q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  -webkit-text-decoration-color: #0088cb;
          text-decoration-color: #0088cb;
}

a:visited {
  text-decoration: none;
}

img {
  -ms-interpolation-mode: bicubic;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body {
  font-family: Oxygen;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 22px;
  font-size: 2.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #FDFDFF;
}

.alpha {
  font-size: 3.18181818em;
  text-align: center;
  margin: 0.85714286em 0 0.28571429em;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
}

.beta {
  font-size: 40;
  margin: 0.75em 0;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
  text-align: center;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 31.81818182em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.81818182em;
}

.grid__item {
  height: 4.54545455em;
  width: 9.09090909em;
  background-color: #815E5B;
  margin: 0 0.45454545em 0.90909091em 0.45454545em;
  border-radius: 0.45454545em;
  text-align: center;
  box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
}

.grid__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FDFDFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.small-grid__items {
  height: 2.27272727em;
  width: 2.27272727em;
  margin-right: 0.90909091em;
  background-color: #EAF7CF;
  border-radius: 0.18181818em;
  padding: 0.04545455em;
  cursor: pointer;
  box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
}

.small-grid__items:last-child {
  margin-right: 0;
}

.content {
  height: 100vh;
  padding: 0.1px;
  margin: 0;
  background-size: cover;
}

.back-link {
  margin: 1.81818182em auto;
  text-align: center;
}

.todo {
  max-width: 36.36363636em;
  background-color: white;
  margin: 0 auto;
  color: #333;
  padding: 1.36363636em;
  border-radius: 0.27272727em;
  box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.todo__wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.todo__menu-item {
  margin-bottom: 0.90909091em;
  text-decoration: underline;
}

.todo__menu-item:last-child {
  margin: 0;
}

.form__label {
  display: block;
  font-size: 0.72727273em;
  margin-bottom: 0.125em;
}

.form__input::-webkit-input-placeholder {
  font-size: 0.72727273em;
}

.form__input::-ms-input-placeholder {
  font-size: 0.72727273em;
}

.form__input::placeholder {
  font-size: 0.72727273em;
}

.list__wrapper {
  margin-top: 1.81818182em;
}

.list__heading {
  margin-bottom: 0.90909091em;
}

.list__item,
.list__item--done {
  margin-bottom: 0.90909091em;
  padding-left: 0.90909091em;
}

.list__item--done {
  text-decoration: line-through;
}

.list__item button,
.list__item--done button {
  overflow: visible;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -moz-user-select: text;
  /* Remove mystery padding in Gecko browsers.
     * See https://bugzilla.mozilla.org/show_bug.cgi?id=140562
     */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  float: right;
}

.list__item button::-moz-focus-inner,
.list__item--done button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #333;
}

main {
  padding-top: 5em;
}

.header {
  height: 5em;
  width: 100%;
  padding: 0 1.81818182em;
  position: fixed;
  background-color: white;
}

.header__wrap {
  max-width: 49.09090909em;
  height: 5em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social {
  height: 1.13636364em;
  width: 1.13636364em;
  display: inline-block;
  margin-right: 1.13636364em;
}

.header__social::last-child {
  margin-right: 0;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 4.54545455em;
}

.nav__item:last-child {
  margin: 0;
}

.carousel__item {
  background-image: url("/media/carousel-3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.intro {
  background-image: url("/media/intro-bg.jpg");
  padding: 3.18181818em 0.22727273em;
}

.intro__wrapper {
  max-width: 36.36363636em;
  margin: 0 auto;
}

.intro__header {
  font-size: 2.18181818em;
  margin-bottom: 0.83333333em;
}

.intro__copy {
  font-size: 0.90909091em;
  margin-bottom: 1.5em;
}

.section {
  height: 8.63636364em;
  text-align: center;
}

.section__title {
  font-size: 2.18181818em;
  color: #333;
  padding: 1.875em 0;
}

.section__title::after {
  content: '';
  height: 0.45454545em;
  width: 0.45454545em;
  background-image: url("/media/intro-bg.jpg");
  border-radius: 50%;
  vertical-align: top;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

