.grid {

    display: flex;
    flex-wrap: wrap;
    max-width: em(700);
    justify-content: center;
    margin: 0 auto;
    margin-bottom: em(40);
    

    &__item {
        height: em(100);
        width: em(200);
        background-color: $color5;
        margin: 0 em(10) em(20) em(10);
        border-radius: em(10);
        text-align: center;    
        @include box-shadow;
    }

    &__link {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        color: $fontColor;
        justify-content: center;
    }
}