.promo {
    max-width: em(1600);
    padding: 0.1%;

    & .alpha {
        margin: em(10);
        text-align: left;
    }
    
    &__wrap {
        background-color: $portfolioPromo;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding: 0 em(40);
    }

    &__content {
        width: 60%;
    }
    
    &__imgs {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 40%;
    }

    &__img {
        height: em(150);
        width: em(150);
        margin: em(20);

        box-shadow: 0px 0px 70px -12px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 70px -12px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 70px -12px rgba(0,0,0,0.75);
    }
}